SELF_BASE_URL='https://localhost'
SESSION_SECRET=your_session_secret_here
AUTH_URL='https://aai-test.vidis.schule/auth/realms/vidis'
AUTH_CLIENT_ID=client-id
AUTH_CLIENT_SECRET=your_client_secret_here

# Path, URL or base64 encoded image to the app's logo.
APP_LOGO_PATH=
# Comma separated list of external domains that mights provide images in this app.
APP_ALLOWED_IMAGE_DOMAINS=
