apiVersion: v1
kind: Service
metadata:
  name: {{ include "vidis-rostering.apiFullname" . }}
  labels:
    {{- include "vidis-rostering.labels" . | nindent 4 }}
spec:
  type: {{ .Values.api.service.type }}
  ports:
    - port: {{ .Values.api.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "vidis-rostering.selectorLabels" . | nindent 4 }}
