upstream ui {
  server host.docker.internal:${UPSTREAM_PORT};
}

server {
  listen 443 ssl;

  # Increase buffer size to prevent 400 Request Header Or Cookie Too Large
  large_client_header_buffers 4 16k;

  # Increase buffer size to prevent 502 errors
  proxy_buffer_size   128k;
  proxy_buffers   4 256k;
  proxy_busy_buffers_size   256k;

  ssl_certificate /etc/nginx/certs/local.crt;
  ssl_certificate_key /etc/nginx/certs/local.key;

  location / {
    proxy_pass http://ui;
    proxy_redirect    off;
    proxy_set_header  Host              $host;
    proxy_set_header  X-Real-IP         $remote_addr;
    proxy_set_header  X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header  X-Forwarded-Proto $http_x_forwarded_proto;
  }
}
