services:
  reverse-proxy:
    image: nginx
    depends_on:
      create_certificates:
        condition: service_completed_successfully
    ports:
      - 443:443
    volumes:
      - ./reverse-proxy/config:/etc/nginx/templates/
      - certificates:/etc/nginx/certs:ro
    environment:
      - UPSTREAM_PORT=3000
    extra_hosts:
      - "host.docker.internal:host-gateway"

  create_certificates:
    image: alpine
    command: |
      /bin/sh -c "
      apk add --no-cache openssl &&
      openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /certs/local.key -out /certs/local.crt -subj '/CN=localhost' &&
      chown 101:101 /certs/local.key /certs/local.crt
      "
    volumes:
      - certificates:/certs

  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      PGDATA: /var/lib/postgresql/data
    ports:
      - 54320:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

  tempo:
    image: grafana/tempo:2.9.0
    command: ["-config.file=/etc/tempo.yaml"]
    ports:
      #- "3200:3200" # tempo
      #- "9095:9095" # tempo grpc
      - "4317:4317" # otlp grpc
      - "4318:4318" # otlp http
    volumes:
      - ./tempo/tempo.yaml:/etc/tempo.yaml
      - tempo_data:/var/tempo
    profiles:
      - monitoring

  grafana:
    image: grafana/grafana:12.1
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    ports:
      - 4000:3000
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    profiles:
      - monitoring

volumes:
  certificates:
  postgres_data:
  grafana_data:
  tempo_data:
